@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@font-face { font-family: Garet; font-weight:bold; src: url('fonts/Garet-Heavy.otf'); } 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

/* custom scroll bar */
/* ::-webkit-scrollbar {
    display: block;
}
::-webkit-scrollbar-track {
    background: #002219;
}
::-webkit-scrollbar-thumb {
    background: #20EBA8;
    border: 5px #002219;
    border-radius: 5px;
} */
::selection{
  background: #20EBA8;
  color: #000000;
}
.content{
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 40px 30px;
  transition: all 0.2s ease;
}
.navbar.sticky{
  background: #001610;
  padding: 30px 30px;
  border-bottom: 1px solid #ffffff20;
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #ffffff;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}
.navbar.sticky .logo a{
  color: #fff;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #20EBA8;
}
.navbar.sticky .menu-list li a{
  color: #fff;
}
.navbar.sticky .menu-list li a:hover{
  color: #20EBA8;
}
  /*background: url("banner.jpg") no-repeat;*/
.banner{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background: linear-gradient(#001610,#002219);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px;
  padding-top: 120px;
}
.banner .banner-left{
  color: white;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction:column;
  align-content:center;
  justify-content:center;
}
.banner .banner-right{
  content:'';
  height: 100%;
  width: 50%;
  display: block;
}
.banner-left h2{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 40px;
}
.banner-left h1{
    font-family: 'Space Grotesk', sans-serif;
  font-size: 10vh;
  font-weight:600;
}
.grad-text{
  background: linear-gradient(90deg,#20EBA8, #2FA5F3);
  color:transparent;
  background-clip:text;
  font-weight:700;
}
.banner-left p{
  font-family: 'Lexend', sans-serif;
  font-size: 4vh;
  margin: 5px 0px;
}
.banner-left button{
  border: none;
  padding: 4vh;
  margin: 4vh 0;
  font-weight: 600;
  font-size: 3vh;
  border-radius: 0.3rem;
  background: linear-gradient(90deg,#20EBA8, #2FA5F3);
  color: #001811;
  font-weight:700;
  transition: 0.3s ease-in-out;
  width:40vh;
  box-shadow: 0px 0px 20px 0px #20EBA83a;
}
.banner-left button:hover{
  box-shadow: 0px 0px 40px 0px #20EBA83a;
  cursor: pointer;
  width:41vh;
}
.about{
  padding: 30px 0;
    background-color: #001610;
    color: #ffffff;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
  .banner .banner-right{
    width: 0%;
  }
  .banner .banner-left{
    width: 100%;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
    color: #fff;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #020202;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    color: white;
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar .menu-list li a:hover{
    color: #20EBA8;
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
  .icon.cancel-btn{
    color: white;
  }
}
@media (max-width: 450px) {
  .banner-left{
    text-align: center;
  }
  .banner-left h2{
    font-size:20px;
  }
  .banner-left h1{
    font-size: 8vh;
    text-align: center;
  }
  .banner-left p{
    font-size: 3vh;
    text-align: center;
  }
  .banner-left button{
    align-self:center;
  }
  .navbar .logo a{
    font-size: 27px;
  }
}
@media (max-width: 300px){
  .navbar{
    padding: 30px 10px;
  }
  .navbar.sticky{
    padding: 20px 10px;
  }
  .navbar .logo a{
    font-size: 20px;
  }
  .banner{
    padding: 90px 20px;
  }
  .banner-left{
    justify-content:center;
  }
  .banner-left h2{
    font-size:30px;
  }
  .banner-left h1{
    font-size: 40px;
  }
  .banner-left button{
    padding: 20px 40px;
    margin-top: 45px;
    align-self:center;
  }
  .content .title{
    font-size: 20px;
  }
  .content p{
    font-size: 14px;
  }
}