@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face { font-family: Garet; font-weight:bold; src: url('fonts/Garet-Heavy.otf'); } 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}
/* ::-webkit-scrollbar-track {
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #20EBA8;
    border-radius: 5px;
} */
::selection{
  color: white;
  background-color: #20EBA8;
}

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 50px 40px;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #14ebbc;
  padding: 25px 40px;
  box-shadow: 0px 3px 60px 0px rgba(13, 136, 95, 0.3);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-family: Garet;
  font-weight: bold;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
}
.navbar.sticky .logo a{
  color: #fff;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #20EBA8;
}
.navbar.sticky .menu-list li a{
  color: #fff;
}
.navbar.sticky .menu-list li a:hover{
  color: #20EBA8;
}
.banner{
  background: url("images/bgimage.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  box-shadow: 0 0 5rem 0 inset #00000046;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 70px;
  padding-top: 120px;
}
.banner .banner-left{
  color: white;
  height: 100%;
  width: 50%;
  display: block;
}
.banner .banner-right{
  content:'';
  height: 100%;
  width: 50%;
  display: block;
}
.banner-left h1{
  font-size: 7vh;
  margin: 70px 0px 5px 0px;
}
.banner-left p{
  font-size: 4vh;
  margin: 5px 0px;
}
.banner-left button{
  border: none;
  padding: 1.5rem 3.5rem;
  margin: 1rem 0;
  font-weight: 600;
  font-size: 3vh;
  border-radius: 0.3rem;
  background-color: white;
  color: #05a07e;
  transition: 0.3s ease-in-out;
}
.banner-left button:hover{
  box-shadow: 0px 0px 40px 0px #ffffff3a;
  cursor: pointer;
  padding: 1.5rem 4rem;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
  .banner .banner-right{
    width: 0%;
  }
  .banner .banner-left{
    width: 100%;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
    color: #fff;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    color: white;
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar .menu-list li a:hover{
    color: #20EBA8;
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
  .icon.cancel-btn{
    color: white;
  }
}
@media (max-width: 450px) {
  .banner-left{
    text-align: center;
  }
  .banner-left h1{
    font-size: 6vh;
    text-align: center;
  }
  .banner-left p{
    font-size: 3vh;
    text-align: center;
  }
  .navbar .logo a{
    font-size: 27px;
  }
}