@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@font-face { font-family: Garet; font-weight:bold; src: url('fonts/Garet-Heavy.otf'); } 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: #f8fcfc;
}

/* custom scroll bar */
/* ::-webkit-scrollbar {
    display: block;
}
::-webkit-scrollbar-track {
    background: #002219;
}
::-webkit-scrollbar-thumb {
    background: #20EBA8;
    border: 5px #002219;
    border-radius: 5px;
} */
::selection{
  background: #20EBA8;
  color: #000000;
}
.content{
  margin: auto;
  padding: 0 30px;
  max-width: 1250px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 40px 30px;
  transition: all 0.2s ease;
}
.navbar.sticky{
  background: #001610a8;
  -webkit-backdrop-filter: blur(30px); 
  backdrop-filter: blur(30px);
  padding: 30px 30px;
/*   mask-image:linear-gradient(#fffffff1,#ffffff00); */
  border-image: linear-gradient(to right, #13835d 0%, #ffffff65 100%) 1;
  border-width: 2px;
  border-bottom-style: solid;
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #ffffff;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}
.navbar.sticky .logo a{
  color: #fff;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #20EBA8;
}
.navbar.sticky .menu-list li a{
  color: #fff;
}
.navbar.sticky .menu-list li a:hover{
  color: #20EBA8;
}
  

/* BANNER STARTS HERE */


/*background: url("banner.jpg") no-repeat;*/
.banner{
  height: 100vh;
  max-height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background: linear-gradient(#001610,#002219);
  padding: 40px 30px;
  padding-top: 120px;
}
.banner .content{
  height:100%;
  margin: auto;
  padding: 0 30px;
  max-width: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .banner-left{
  color: white;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction:column;
  align-content:center;
  justify-content:center;
}
.banner .banner-right{
  content:'';
  height: 100%;
  width: 50%;
  display: block;
}
.banner-left h2{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 30px;
  margin-bottom:-10px;
}
.banner-left h1{
    font-family: 'Space Grotesk', sans-serif;
  font-size: 4.5rem;
  font-weight:600;
}
.grad-text{
  background: linear-gradient(150deg,#20EBA8, #2FA5F3);
  color:transparent;
  background-clip:text;
  font-weight:700;
}
.banner-left p{
  font-family: 'Lexend', sans-serif;
  font-size: 1.5rem;
  margin: 5px 0px;
}
.banner-left button{
  border: none;
  padding: 2rem;
  margin: 2rem 0;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  background: linear-gradient(90deg,#20EBA8, #2FA5F3);
  color: #001811;
  font-weight:700;
  transition: 0.3s ease-in-out;
  width:15rem;
  box-shadow: 0px 0px 20px 0px #20EBA83a;
}
.banner-left button:hover{
  box-shadow: 0px 0px 100px 0px #20EBA860;
  cursor: pointer;
  width:16.5rem;
}



/* BODY SECTION STARTS HERE */



.about{
  padding: 30px 0;
    background-color: #001610;
    color: #ffffff;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}



/* FOOTER STARTS HERE */


.footer{
  width: 100%;
  background-color: #00271d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .content{
  display: flex;
  text-decoration: none;
  padding: 40px 30px;
  width: 100%;
  max-width: 1250px;
  justify-content: center;
}
.footer .content > div{
  margin: 10px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.f-left{
  flex-grow: 5;
  max-width: 300px;
}
.f-right, .f-center{
  flex-grow: 1;
  min-width:130px;
  align-items: center;
}
.footer li{
  list-style: none;
}
.footer li a{
  text-decoration: none;
  transition: all 0.2s ease;
}
.footer li a:hover{
  color: #20EBA8;
}
.footer li a:hover ~ .footer li i{
  color: #20EBA8;
}
.f-right ul li a{
  padding-left: 5px;
}


/* RESPONSIVE CSS */


@media (max-width: 980px) {
  .content{
    padding: 0 30px;
  }
  .banner .banner-right{
    width: 20%;
  }
  .banner .banner-left{
    width: 80%;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
    color: #fff;
  }
  .icon.hide{
    display: none;
  }
  .banner h2{
    font-size: 30px;
  }
  .banner h1{
    font-size: 3rem;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #020202;
    /* -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px); */
    transition: all 0.3s ease;
  }
  /* .navbar.sticky .menu-list{
    background: #020202a1;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
  } */
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    color: white;
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar .menu-list li a:hover{
    color: #20EBA8;
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
  .icon.cancel-btn{
    color: white;
    padding: 10px;
  }
  


  .footer .content{
    flex-wrap: wrap;
  }
  .f-left{
    max-width: 100%;
  }
}
@media (max-width: 450px) {
  .banner{
    max-height: 100vh;
    padding:0px 0px;
  }
  .banner-left{
    width:100vh;
    text-align: center;
    align-items: center;
  }
  .banner-left h2{
    font-size:20px;
  }
  .banner-left h1{
    font-size: 3rem;
    text-align: center;
  }
  .banner-left p{
    font-size: 3vh;
    text-align: center;
  }
  .banner-left button{
    font-size: 1rem;
    padding: 1rem;
    align-self:center;
  }
  .navbar .logo a{
    font-size: 27px;
  }
}
@media (max-width: 300px){
  .navbar{
    padding: 30px 10px;
  }
  .navbar.sticky{
    padding: 20px 10px;
  }
  .navbar .logo a{
    font-size: 20px;
  }
  .banner{
    padding: 90px 0px;
    max-height: 100vh;
  }
  .banner-left{
    justify-content:center;
  }
  .banner-left h2{
    font-size:30px;
  }
  .banner-left h1{
    font-size: 40px;
  }
  .banner-left button{
    padding: 20px 40px;
    margin-top: 45px;
    align-self:center;
  }
  .content .title{
    font-size: 20px;
  }
  .content p{
    font-size: 14px;
  }
}